*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    font-size: 45px;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    z-index: 0;
    
}
.background{
    position: relative;
    background-image: url(./sky.jpg);
    height: 94vh;
    width: 96vw;
}
.container{
    text-align: center;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}
.one{
    margin-left: 10px;
    background-color: orange;
    height: 50px;
    width: 200px;
}
.two{
    margin-left: 10px;
    background-color: white;
    height: 50px;
    width: 400px;
}
.three{
    margin-left: 10px;
    background-color: green;
    height: 50px;
    width: 200px;
}
.item1{
    position: absolute;
    bottom: 0px;
    z-index: 0;
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image:url(./road.jpg);
    animation: road 3s linear infinite;
    
}
.item2{
    position: absolute;
    bottom: 213px;
    z-index: 1;
    height: 35vh;
    width: 100%;
    background-image: url(./city.png);
    animation: road 20s linear infinite;
}
.item3{
    position: absolute;
    top: 433px;
    left: 400px;
    z-index: 2;
    height: 200px;
    width: 483px;
    background-image: url(./car.png);
    background-size: contain;
}
.item4{
    z-index: 1;
    position: absolute;
    top: 542px;
    left: 442px;
    height: 86px;
    width: 86px;
    background-image: url(./wheel.png);
    background-size: contain;
    animation: wheel 2s linear infinite;
}
.item5{
    z-index: 1;
    position: absolute;
    top: 542px;
    left: 737px;
    height: 86px;
    width: 86px;
    background-image: url(./wheel.png);
    background-size: contain;
    animation: wheel 2s linear infinite;
}
.item6{
    z-index: 0;
    position:absolute;
    top: 100px;
    right: 200px;
    height: 150px;
    width: 160px;
    background-size: cover;
    background-image: url(./sun.png);
    animation: sun 50s linear infinite;
}
.item7{
    z-index: 1;
    position: absolute;
    top: 374px;
    left: 710px;
    height: 150px;
    width: 160px;
    background-size: cover;
    background-image: url(./flag.png);
}
.orange{
    background-color: orange;
    width: 23px;
    height: 97vh;
    z-index: 3;
    position: absolute;
    top: 10px;
    transform: skewy(40deg);
}
.green{
    background-color: green;
    width: 23px;
    height: 97vh;
    z-index: 3;
    position: absolute;
    top: 10px;
    right: 20px;
    transform: skewy(-40deg);
}

@keyframes wheel {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}@keyframes road{
    from{
        background-position: 0px 0px;
    }
    to{
        background-position: -150vw 0px;
    }
}@keyframes sun{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}